[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
fastapi = "*"
uvicorn = "*"
black = "*"
pydantic = "*"
pytest = "*"
flake8 = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.11"
